<!DOCTYPE html>
<html class="page" lang="{{lang}}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{{{title}}} — Garden — Viacheslav Slinko's website</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/screen.css" />
    <meta name="description" content="{{{summary}}}" />
    <script async src="/js/main.js"></script>
  </head>
  <body class="page__body garden_layout">
    <main class="garden_layout__main">
      <article class="article">
        <h1 class="article__header" id="{{titleId}}">{{{title}}}</h1>
        <section class="article__content">{{{content}}}</section>
        {{{backlinks}}}
      </article>

      <div
        class="disqus"
        id="disqus_thread"
        data-url="{{{canonicalUrl}}}"
      ></div>
    </main>

    <aside class="garden_layout__aside">{{{tree}}} {{{toc}}}</aside>

    <footer class="footer garden_layout__footer">
      <ul class="contacts">
        <li class="contacts__item">
          <a class="contacts__link" href="/">Home</a>
        </li>
        <li class="contacts__item">
          <a class="contacts__link" href="/posts/">Blog</a>
        </li>
        <li class="contacts__item">Garden</li>
        {{{links}}}
      </ul>
    </footer>

    <script>
      var disqus_config = function () {
        this.page.url = "{{{canonicalUrl}}}";
      };
      (function () {
        // DON'T EDIT BELOW THIS LINE
        var d = document,
          s = d.createElement("script");
        s.src = "https://vslinko-com.disqus.com/embed.js";
        s.setAttribute("data-timestamp", +new Date());
        (d.head || d.body).appendChild(s);
      })();
    </script>

    {{{ym}}}
  </body>
</html>
