{% extends "base.html" %}
{% from "links.html" import footer_links %}

{% block lang %}{{ lang }}{% endblock %}
{% block htmlattrs %}itemscope itemtype="https://schema.org/Article"{% endblock %}
{% block title %}{{ title|safe }} — Garden — {{ super() }}{% endblock %}
{% block description %}{{ summary|safe }}{% endblock %}
{% block bodyclass %}garden_layout{% endblock %}
{% block headbottom %}
<link rel="canonical" href="{{ canonicalUrl }}" />
<script async src="/js/main.js"></script>
{% endblock %}

{% block content %}
<header class="garden_layout__header">
  <h1 class="header header-block" id="{{ titleId }}" itemprop="name">
    {{ title|safe }}
  </h1>
</header>

<nav class="toc garden_layout__toc">
  <p class="toc__header">Table of Contents</p>
  <ul class="toc__list">
    {% for title in toc %}
    <li class="toc__item toc__depth-{{ title.depth }}">
      <a class="toc__link" href="#{{ title.id }}">{{ title.title|safe }}</a>
    </li>
    {% endfor %}
  </ul>
</nav>

<main class="article garden_layout__main">
  <div class="article__content" itemprop="articleBody">{{ content|safe }}</div>

  {% include "backlinks.html" %}

  {#<iframe
    src="/comments-iframe.html?page-id={{ canonicalFullUrl }}"
    class="comments_iframe"
  ></iframe>#}
</main>

<nav class="garden_nav garden_layout__nav">
  <p class="garden_nav__header">Navigation</p>
  {% for folder in tree.folders %}
  <details class="garden_nav__folder">
    <summary class="garden_nav__folder_name">{{ folder.name }}</summary>
    <ul class="garden_nav__list">
      {% for file in folder.files %}
      <li class="garden_nav__item">
        <a class="garden_nav__link" href="{{ file.url }}">{{ file.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </details>
  {% endfor %}
  <ul class="garden_nav__list">
    {% for file in tree.files %}
    <li class="garden_nav__item">
      <a class="garden_nav__link" href="{{ file.url }}">{{ file.title }}</a>
    </li>
    {% endfor %}
  </ul>
</nav>

<footer class="footer garden_layout__footer">
  {{ footer_links("Garden") }}
</footer>
{% endblock %}
