<li class="contacts__item">
  <a
    class="contacts__link u-url"
    href="https://t.me/vslinko"
    target="blank"
    rel="noopener"
    >Telegram</a
  >
</li>
<li class="contacts__item">
  <a
    class="contacts__link u-url"
    href="http://facebook.com/vslinko"
    target="blank"
    rel="noopener"
    >Facebook</a
  >
</li>
<li class="contacts__item">
  <a
    class="contacts__link u-url"
    href="https://ru.linkedin.com/in/vyacheslavslinko"
    target="blank"
    rel="noopener"
    >LinkedIn</a
  >
</li>
<li class="contacts__item">
  <a
    class="contacts__link u-url"
    href="https://github.com/vslinko"
    target="blank"
    rel="noopener"
    >Github</a
  >
</li>
<li class="contacts__item">
  <a
    class="contacts__link u-url"
    href="https://twitter.com/vslinko"
    target="blank"
    rel="noopener"
    >Twitter</a
  >
</li>
<li class="contacts__item">
  <a class="contacts__link u-email" href="mailto:me@vslinko.com">Email</a>
</li>
