<!DOCTYPE html>
<html class="page" lang="{{lang}}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{{{title}}} — Blog — Viacheslav Slinko's website</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/screen.css" />
    <meta name="description" content="{{{summary}}}" />
  </head>
  <body class="page__body">
    <article class="article h-entry">
      <h1 class="article__header p-name">{{{title}}}</h1>
      <section class="article__content e-content">{{{content}}}</section>
      <footer class="article__footer">
        <time class="dt-published" datetime="{{date}}">{{dateFormatted}}</time
        ><br />
        <a href="/" class="article__author p-author h-card"
          >Viacheslav Slinko</a
        >
      </footer>
    </article>

    <div class="disqus" id="disqus_thread"></div>
    <script>
      var disqus_config = function () {
        this.page.url = "{{{canonicalUrl}}}";
      };
      (function () {
        // DON'T EDIT BELOW THIS LINE
        var d = document,
          s = d.createElement("script");
        s.src = "https://vslinko-com.disqus.com/embed.js";
        s.setAttribute("data-timestamp", +new Date());
        (d.head || d.body).appendChild(s);
      })();
    </script>

    <footer class="footer">
      <ul class="contacts">
        <li class="contacts__item">
          <a class="contacts__link" href="/">Home</a>
        </li>
        <li class="contacts__item">
          <a class="contacts__link" href="/posts/">Blog</a>
        </li>
        {{{links}}}
      </ul>
    </footer>

    {{{ym}}}
  </body>
</html>
