{% extends "base.html" %}
{% from "links.html" import footer_links %}

{% block lang %}{{ post.lang }}{% endblock %}
{% block htmlattrs %}itemscope itemtype="https://schema.org/BlogPosting"{% endblock %}
{% block title %}{{ post.title|safe }} — Blog — {{ super() }}{% endblock %}
{% block description %}{{ post.summary|safe }}{% endblock %}

{% block headbottom %}
{% if post.hasCodeBlocks %}
<link
  rel="stylesheet"
  href="/css/a11y-dark.min.css"
  media="(prefers-color-scheme: dark)"
/>
<link
  rel="stylesheet"
  href="/css/a11y-light.min.css"
  media="(prefers-color-scheme: light)"
/>
{% endif %}
{% endblock %}

{% block content %}
<article class="article">
  <h1 class="article__header" itemprop="headline">{{ post.title|safe }}</h1>
  <section class="article__content" itemprop="articleBody">
    {{ post.content|safe }}
  </section>
  <footer class="article__footer">
    <time itemprop="datePublished" datetime="{{ post.date }}"
      >{{ post.dateFormatted }}</time
    ><br />
    <a
      href="/"
      class="article__author"
      itemprop="author"
      itemscope
      itemtype="https://schema.org/Person"
      ><span itemprop="name">Viacheslav Slinko</span></a
    >
  </footer>
</article>

<iframe
  src="/comments-iframe.html?page-id={{ post.canonicalUrl }}"
  class="comments_iframe"
></iframe>

<footer class="footer">{{ footer_links() }}</footer>
{% endblock %}
