<nav class="garden_nav">
  <p class="garden_nav__header">Navigation</p>
  {{#folders}}
  <details class="garden_nav__folder">
    <summary class="garden_nav__folder_name">{{name}}</summary>
    <ul class="garden_nav__list">
      {{#files}}
      <li class="garden_nav__item">
        <a class="garden_nav__link" href="{{link}}">{{title}}</a>
      </li>
      {{/files}}
    </ul>
  </details>
  {{/folders}}
  <ul class="garden_nav__list">
    {{#files}}
    <li class="garden_nav__item">
      <a class="garden_nav__link" href="{{link}}">{{title}}</a>
    </li>
    {{/files}}
  </ul>
</nav>
